<h1 class="yankeesblue">Les équipements</h1>
<div class="container margin-top-50">
  <div class="row">
    <% if @flat.bathroom == true %>
      <div class="col text-center card-equipment background-azureishwhite">
        <%= image_tag "001-shower.png", class: "equipment-icon margin-bottom-20" %>
        <h6>Salle de bain privée</h6>
      </div>
    <% else %>
      <div class="col text-center card-equipment background-default-gray">
        <%= image_tag "001-shower.png", class: "equipment-icon margin-bottom-20 grayscale" %>
        <h6>Salle de bain commune</h6>
      </div>
    <% end %>
    <% if @flat.parking == true %>
      <div class="col text-center card-equipment background-azureishwhite">
        <%= image_tag "004-parking.png", class: "equipment-icon margin-bottom-20" %>
        <h6>Parking gratuit</h6>
      </div>
    <% else %>
      <div class="col text-center card-equipment background-default-gray">
        <%= image_tag "004-parking.png", class: "equipment-icon margin-bottom-20 grayscale" %>
        <h6>Parking payant</h6>
      </div>
    <% end %>
    <% if @flat.washing == true %>
      <div class="col text-center card-equipment background-azureishwhite">
        <%= image_tag "003-washing-machine.png", class: "equipment-icon margin-bottom-20" %>
        <h6>Laverie disponible</h6>
      </div>
    <% else %>
      <div class="col text-center card-equipment background-default-gray">
        <%= image_tag "003-washing-machine.png", class: "equipment-icon margin-bottom-20 grayscale" %>
        <h6>Laverie publique</h6>
      </div>
    <% end %>

    <% if @flat.wifi == true %>
      <div class="col text-center card-equipment background-azureishwhite">
        <%= image_tag "002-router.png", class: "equipment-icon margin-bottom-20" %>
        <h6>Wifi disponible</h6>
      </div>
    <% else %>
      <div class="col text-center card-equipment background-default-gray">
        <%= image_tag "002-router.png", class: "equipment-icon margin-bottom-20 grayscale" %>
        <h6>Pas de wifi</h6>
      </div>
    <% end %>
  </div>
</div>
