<%= simple_form_for(@flat) do |f| %>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :zipcode_district %>
    <%= f.text_field :zipcode_district, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_rooms %>
    <%= f.number_field :number_of_rooms, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :price_per_day %>
    <%= f.number_field :price_per_day, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :flat_type %>
    <%= f.input :flat_type, collection: ["Chambre Privee", "Logement Entier"] %>
  </div>

  <div class="form-group">
    <%= f.label :hospital_id %>
    <%= f.collection_select :hospital_id, Hospital.all, :id, :hospital_name %>
  </div>

  <div class="form-group">
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>

  <div class="form-group">
    <%= f.input :wifi, as: :radio_buttons %>
    <%= f.input :washing, as: :radio_buttons %>
    <%= f.input :parking, as: :radio_buttons %>
    <%= f.input :bathroom, as: :radio_buttons %>
  </div>


  <%= f.submit 'Proposer votre appartement', class: 'medium-button' %>
<% end %>

