<h1>Mon appartement</h1>

<h4>Test</h4>
<p><%= @flat.address%></p>



<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Réservation</h1>


    <div class="widget-content" data-unavailable="<%= @flat.unavailable_dates.to_json %>">
      <hr>

      <%= simple_form_for ([@flat, @booking]) do |f| %>
        <%= f.input :arrival, as: :string, label: "Dates", placeholder: "From", required: false %>
        <%= f.input :departure, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, required: false %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>

    </div>



  </div>
</div>


