<h1>Mon appartement</h1>

<h4>Test</h4>
<p><%= @flat.address%></p>



<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Réservation</h1>

    <%= simple_form_for ([@flat, @booking]) do |f| %>
      <%= f.input :arrival, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :departure, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

