<div class="flex-wrapper">
  <div class="third-container background-azureishwhite">
    <p class="semi-bold paynesgray margin-bottom-50">LE CENTRE : <%= @flat.hospital.hospital_name.upcase %></p>
    <h1 class="margin-bottom-50">Une <br>
      <%= @flat.flat_type.upcase %> <br>
      pour vous, <br>
      chez <%= @flat.user.first_name %></h1>
    <h6>à 5m à pied de votre centre</h6>
  </div>
  <div class="twothirdcontainer" style="background-image: url('<%= cl_image_path @flat.photo %>')">
  </div>
</div>


<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Réservation</h1>


    <div class="widget-content" data-unavailable="<%= @flat.unavailable_dates.to_json %>">
      <hr>

      <%= simple_form_for ([@flat, @booking]) do |f| %>
        <%= f.input :arrival, as: :string, label: "Dates", placeholder: "From", required: false %>
        <%= f.input :departure, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, required: false %>
        <%= f.button :submit, "Go", class: "btn btn-primary" %>
      <% end %>

    </div>



  </div>
</div>


