<div class="sejours-container">
  <h1 class="yankeesblue mb-5">Séjours prévus</h1>
  <div class="row">
    <% @futurebookings.each do |fb| %>
      <div class="col-4 px-1 py-2">
        <%= link_to flat_path(fb.flat) do %>
          <div class="card-book-dashboard">
            <% if fb.flat.photo.blank? %>
              <p>Pas de photos</p>
            <% else %>
                <div class="booking-photo" style="background-image: url('<%= cl_image_path fb.flat.photo %>')"></div>
            <% end %>
            <div class="booking-description pl-2 mt-3">
              <p class="p-strip">Vous allez habité chez <h4 class="h4-strip celestialblue"><%= fb.flat.user.first_name %></h4>
                (séjour du <%= fb.arrival %> au <%= fb.departure %>)</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
