<div class="show-content-wrapper-halfsplit border-bottom">
  <%= render 'flats/show/content/descriptionprofile' %>
</div>
<div class="show-gallery">
  <%= render 'flats/show/content/photogallery' %>
</div>
<div class="show-equipments border-bottom padding-bottom-100">
  <%= render 'flats/show/content/equipments' %>
</div>
<div class="show-location padding-top-100 padding-bottom-100 border-bottom">
  <%= render 'flats/show/content/districtmap' %>
</div>
<div class="show-reviews padding-top-100">
  <h1 class="yankeesblue">Les commentaires</h1>
  <% @reviews.each do |review| %>
    <%= review.comment %>
    <%= review.user.first_name %>
  <% end %>

</div>
