<div class="banner">
  <div class="banner-image" style="background-image: url(<%= asset_path 'banner.png' %>);">
  </div>
  <%= render 'pages/home/searchbannerright' %>
</div>

<div class="aliceblue-banner">
  <%= render 'pages/home/introbanner' %>
  <%= render 'pages/home/featuresbanner' %>
</div>

<div class="banner margin-bottom-50"> <!-- story -->
  <%= render 'pages/home/storybanner' %>
</div>

