<div class="text-center margin-top-50 margin-bottom-50">
  <h1 class="yankeesblue">Bonjour <%= @user.first_name %>, du Centre <%= @user.hospital.hospital_name %></h1>
</div>

<div class="dashboard-content background-aliceblue padding-y-50">
  <div class="sejours-container">
    <%= render 'unapproved_users/unapprovedlist/communitybeneficiaries' %>
  </div>

  <div class="sejours-container">
    <%= render 'unapproved_users/unapprovedlist/communitycodes' %>
  </div>

  <div class="sejours-container">
    <%= render 'unapproved_users/unapprovedlist/communityhosts' %>
  </div>
</div>

