<div class="text-center margin-top-50 margin-bottom-50">
  <h1 class="yankeesblue"><%= @user.first_name.capitalize %>,</h1>
  <h1 class="yankeesblue">vous avez hébergé <span class="celestialblue"><%= @total_ppl_helped %></span> personnes pendant  <span class="celestialblue"><%= @total_days %></span> jours.</h1>
  <h1 class="yankeesblue">Un grand merci !</h1>
</div>

<div class="dashboard-tab">
  <div class="dashboard-tab-element">
    <%= button_tag(type: 'button', class: 'hospitality-tab bookings-button-tab active-button') do %>
      <h6 class="h6-strip">Les réservations</h6>
    <% end %>
  </div>

  <div class="dashboard-tab-element">
    <%= button_tag(type: 'button', class: 'hospitality-tab flats-button-tab inactive-button') do %>
      <h6 class="h6-strip">Vos hébergements</h6>
    <% end %>
  </div>
</div>




<div class="dashboard-content my-5">

  <div class="sejours-container container-tab bookings-tab active">
    <%= render 'dashboards/hebergements/bookings' %>
  </div>

  <div class="sejours-container container-tab flats-tab inactive">
    <%= render 'dashboards/hebergements/usersflats' %>
  </div>
</div>
