<div class="text-center margin-top-50 margin-bottom-50">
  <h1 class="yankeesblue">Bonjour <%= @user.first_name %>,</h1>
</div>

<!-- <div class="dashboard-tab">
  <div class="dashboard-tab-element">
    <h6 class="h6-strip">Vos séjours</h6>
  </div>
</div> -->

<div class="dashboard-content background-aliceblue">

  <% unless @currentbookings.empty? %>
    <div class="sejours-container">
      <h1 class="yankeesblue">Séjours en cours</h1>
    </div>
  <% end %>

  <div class="sejours-container">
    <h1 class="yankeesblue mb-5">Séjours prévus</h1>
    <div class="row">
      <% @futurebookings.each do |fb| %>
        <div class="col-4 px-1 py-2">
          <div class="card-book-dashboard">
            <% if fb.flat.photo.blank? %>
              <p>Pas de photos</p>
            <% else %>
              <%= link_to flat_path(fb.flat) do %>
                <div class="booking-photo" style="background-image: url('<%= cl_image_path fb.flat.photo %>')"></div>
              <% end %>
            <% end %>
            <p>Vous allez habité chez <%= fb.flat.user.first_name %></p>
            <p>du <%= fb.arrival %> au <%= fb.departure %></p>
            <%= link_to "Voir l'appartement", flat_path(fb.flat) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="sejours-container">
    <h1 class="yankeesblue mb-5">Séjours passés</h1>
    <div class="row">
      <% @pastbookings.each do |booking| %>
        <div class="col-4 px-1 py-2">
          <div class="card-book-dashboard">
            <% if booking.flat.photo.blank? %>
              <p>Pas de photos</p>
            <% else %>
              <%= link_to flat_path(booking.flat) do %>
                <div class="booking-photo" style="background-image: url('<%= cl_image_path booking.flat.photo %>')"></div>
              <% end %>
            <% end %>
            <p>Vous avez habité chez <%= booking.flat.user.first_name %></p>
            <p>du <%= booking.arrival %> au <%= booking.departure %></p>
            <%= link_to "Voir l'appartement", flat_path(booking.flat) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

