<div class="text-center margin-top-50 margin-bottom-50">
  <h1 class="yankeesblue">Bonjour <%= @user.first_name %>,</h1>
</div>

<% unless @bookingstocomment.empty? %>
  <div class="notifications background-babyblue py-3 text-center">
    <%= render 'dashboards/sejours/notifscomments' %>
  </div>
<% end %>

<div class="dashboard-content background-aliceblue">

  <% unless @currentbookings.empty? %>
    <%= render 'dashboards/sejours/currentbookings' %>
  <% end %>

  <%= render 'dashboards/sejours/futurebookings' %>

  <% unless @pastbookings.empty? %>
    <%= render 'dashboards/sejours/pastbookings' %>
  <% end %>
</div>

