<div class="navbar navbar-hospitality py-3 px-4">
  <%= link_to root_path do %>
    <%= image_tag "logoblack.png", class: "logo-medium" %>
  <% end %>
  <div class="nav-bar-right d-flex align-items-center">
    <% if current_user.host == true %>
      <%= link_to "Mes hébergements", "#", class: "px-3 d-none d-sm-block" %>
    <% elsif current_user.hospital_admin == true %>
      <%= link_to "Mes hébergeurs", "#", class: "px-3 d-none d-sm-block" %>
    <% else %>
      <%= link_to "#", class: "navbar-link" do %>
        <h6 class="h6-strip">Mon séjour</h6>
      <% end %>
    <% end %>
    <div class="dropdown  d-none d-sm-block">
      <%= image_tag "wavy.png", class: "avatar", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Mon profile", "#", class: "dropdown-item" %>
        <%= link_to "Déconnexion", "#", class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div class="dropdown burger d-block d-sm-none">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
     <%= link_to "Action", "#", class: "dropdown-item" %>
     <%= link_to "Another action", "#", class: "dropdown-item" %>
     <%= link_to "Something else here", "#", class: "dropdown-item" %>
   </div>
 </div>
</div>
