<div class="navbar navbar-hospitality py-3 px-4">
  <%= link_to root_path do %>
    <%= image_tag "logoblack.png", class: "logo-medium" %>
  <% end %>
  <div class="nav-bar-right d-flex align-items-center">
    <%= render 'shared/navbar/navbarsignedin/navbarsignedinstatus' %>
    <%= render 'shared/navbar/navbarsignedin/navbarsignedindropdown' %>
  </div>
  <%= render 'shared/navbar/navbarsignedin/navbarsignedinmobile' %>
</div>
